h1 {
  color: green;
}
img {
  border: 1px solid gray;
  padding: 5px;
}
.error {
  color: red;
  background: lightgrey;
  font-size: 20px;
  border-style: solid;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}
.blogElement {
  padding-top: 10px;
  padding-left: 2px;
  border-style: solid;
  border-width: 1px;
  margin-bottom: 5px;
  list-style: none;

}
.mainMenu {
  width: 250px;
}
.mainMenu a {
  display: block;
  width: 200px;
  padding: 5px;
  border: black 1px solid;
}
.authBlock {
  display: block;
  width: 250px;
  padding: 5px;
}